<h5></h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="salvar()">
    <div class="row">
      <div class="input-field col s12">
        <input id="nome" type="text" class="validate"
               [(ngModel)]="despesa.nome" formControlName="nome"
               [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
        <label for="nome" [class.active]="despesa.nome" data-error="Nome e obrigatorio">Nome </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <!--<i class="material-icons prefix">attach_money</i>-->
        <input id="valor" type="text" class="validate"
               [(ngModel)]="despesa.valor" formControlName="valor"
               [class.invalid]="form.controls['valor'].touched && !form.controls['valor'].valid">
        <label for="valor" [class.active]="despesa.valor" data-error="Valor invalido">Valor
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">
      Enviar<i class="material-icons right">send</i>
    </button>
  </form>
</div>
