<nav>
    <div class="nav-wrapper cyan darken-3">
      <a routerLink="" class="brand-logo"> Despesas</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/despesas">Despesas</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/despesas">Despesas</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/tipos-despesa">Tipos de Despesa</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/tipos-despesas">Tipos de Despesa</a></li>
      </ul>
    </div>
  </nav>